* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background: #f5f5f5;
  font-size: 24px;
  padding: 100px;
  margin: 0;
}

iframe {
  width: 100%;
}

.main,
.main-article {
  max-width: 1024px;
  margin: auto;

  img:not(.authorSection img) {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  line-height: 120%;
}

h1 {
  margin-top: 0;
  line-height: 100%;
}

h1.faded {
  color: #e5e5e5;
}

h2.articleHeader {
  margin: 50px 0 20px 0;
}

a {
  color: #e84393;
}
a[target='_blank']:not(.nomarker)::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

p,
blockquote {
  line-height: 150%;
}

.quoteTitle {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0 16px 40px;
  font-weight: bold;
  // font-size: 18px;
  h5,
  h6 {
    margin: 0;
  }
}

.refreshQuote {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 15px;
}

blockquote {
  border-left: 5px solid #e84393;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 50px;
}

cite:before {
  content: '~ ';
}

.refreshQuoteAnimate {
  animation: rotation 0.5s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.articles {
  a {
    text-decoration: none;
    color: #222;

    &:hover {
      article {
        border-bottom: 5px solid #e84393;
      }
    }
  }

  a:first-child {
    article {
      padding-top: 0;
    }
  }
}

article {
  position: relative;
  border-bottom: 5px solid #e0e0e0;
  padding: 30px 0;
  margin-bottom: 10px;
}

.articleHeader {
  font-weight: bold;
  margin-bottom: 10px;
}

.postExerpt {
  // font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

.postDate {
  // font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  // color: #e0e0e0;
  margin-bottom: 10px;
}

.backToHome {
  font-size: 12px;
  a {
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
  }
}

.authorSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-style: italic;
  margin-bottom: 20px;
  // font-weight: 600;

  div:first-of-type {
    margin-right: 10px;
  }

  div:nth-child(1) div {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
  }

  div:nth-child(2) {
    font-size: 16px;
  }
}

.authorBreak {
  height: 0;
  width: 50px;
  border-bottom: 5px solid #e84393;
  margin-bottom: 50px;
}

.no-underline {
  text-decoration: none;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  div {
    margin-left: 10px;
  }
}

.article-footer {
  border-top: 5px solid #e0e0e0;
  margin-top: 50px;
  padding-top: 30px;
}

.article-date {
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
}

// Below image p tag
.bip {
  margin-top: 50px;
}

@media (max-width: 414px) {
  body {
    padding: 50px 25px;
  }

  .quoteTitle {
    margin-left: 0;
  }

  blockquote {
    margin-left: 0;
  }

  .postDate {
    font-size: 10px;
  }
}
